<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <style type="text/css">
          #network-graph {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
          }
    </style>
</head>
<body>
<h2>
    Did someone say graph theory??
</h2>
<div id="network-graph"></div>
<script src="{{url_for('static', filename='js/sigma.min.js')}}" type="text/javascript"></script>
<script>
    let graph_data = {{json_data|safe}};

    s = new sigma({
            graph: graph_data,
            container: 'network-graph',
            settings: {
                defaultLabelColor: '#fff'
            }
    });
    s.refresh();
</script>
</body>
</html>